<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EDA3_ControlEscolar.Properties.Settings.EDA_3ConnectionString"
            connectionString="Data Source=CHENGOPC\SQLEXPRESS;Initial Catalog=&quot;EDA 3&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>